.container{
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
}
body {
  padding: 1rem;
  }
 
  .articles{
  	display: block;
  }
  .links a{
  	text-decoration: none;
  }
  .links a:hover{
outline: dotted red;
  }
  